* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 411px) {
  .div-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .div-login {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 0;
  }

  .div-login h1 {
    font-size: 40px;
    padding-top: 0;
  }

  .div-input {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .form input {
    border-radius: 5px;
    font-size: 20px;
    padding: 0 35px;
  }

  .button-register {
    border: none;
    font-size: 13px;
  }

  .button-div-register {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-bottom: 280px;
  }

  .button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 170px;
    background-color: red;
  }

  .button-login {
    background-color: red;
    border: none;
    color: white;
    font-weight: 500;
  }
}
