* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

@media screen and (max-width: 391px) {
  .div-login {
    width: 100vw;
    height: 100vh;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }

  .label {
    margin: 3px;
    font-size: 25px;
  }

  .input input {
    height: 25px;
    font-size: 20px;
  }

  .div-register h1,
  .div-login h1 {
    font-size: 40px;
    padding: 20px 0;
  }
}
